body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;

    background: black;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;

    background: #303030;
    padding: 1rem;
    border-radius: 8px;
}

input {
    margin-bottom: 1.5rem;
}

h1 {
    background: #303030;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

#connexion {
    display: none;
}

.error {
    color: darkred;
}

.success {
    color: green;
}